.login {
	margin: 3rem auto;
	max-width: 320px;
}

.login h2 {
	text-align: center;
	font-size: 2rem;
}

.login form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
}

.login form input {
  border-radius: 0.2rem;
  border: 1px solid #b9b9b9;
  font-size: 110%;
  padding: 0.5rem;
  height: 1.5rem;
  margin: 0.5rem 0;
}

.login form button:active {
  box-shadow: none;
  background: #cfafaf;
  border: none;
}

.pass-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 8rem;
}